<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Student_CRUD1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.text.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudent</display-name>
    <servlet-name>ViewStudent</servlet-name>
    <servlet-class>com.text.ViewStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudent</servlet-name>
    <url-pattern>/ViewStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudent</display-name>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>com.text.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/DeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudent</display-name>
    <servlet-name>UpdateStudent</servlet-name>
    <servlet-class>com.text.UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudent</servlet-name>
    <url-pattern>/UpdateStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStudent</display-name>
    <servlet-name>GetStudent</servlet-name>
    <servlet-class>com.text.GetStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStudent</servlet-name>
    <url-pattern>/GetStudent</url-pattern>
  </servlet-mapping>
</web-app>